* {
  box-sizing: border-box;
}

body, h1, h2, p {
  margin: 0;
  padding: 0;
}

.movie-card {
  padding: 1rem; 
}

  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212; 
    color: #eaeaea; 
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
  }
  
  a:hover {
    color: cyan;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: cyan;
    color: #121212;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  button:hover {
    background-color: #00bcd4;
    transform: scale(1.1);
  }
  html {
    scroll-behavior: smooth;
  }
  .page {
    animation: fadeIn 0.5s ease;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .loader {
    margin: 0 auto;
    display: block;
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-top-color: cyan;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
     